body {
	font-family: Montserrat-Regular;
}

h1 {
	text-align: center;
}

.container {
	width: fit-content;
	margin: 0 auto;
}

#led-strip {
	width: fit-content;
	border: 2px solid #072047;
	margin: 15px auto;
}

#led-strip div {
	width: 15px;
	height: 15px;
	float: left;
	margin: 8px;
	border-radius: 50px;
	border: 1px solid #072047;
}

#led-strip:after {
	content: "";
	display: block;
	clear: both;
}

#colorpicker {
	display: none;
}

#color-mode {
	margin: 5px 0;
}

.btn-confirm,
.btn-secondary {
	padding: 10px;
	text-align: center;
	width: 150px;
	color: white;
	border-radius: 5px;
	margin: 15px auto;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	transition: background-color 250ms;
	display: block;
	border: none;
	font-family: Montserrat-Regular;
	box-sizing: content-box;
}

.btn-confirm {
	background-color: #0dc4ff;
}

.btn-secondary {
	background-color: #ffb91d;
}

.btn-confirm:hover {
	cursor: pointer;
	background-color: #0fb2e6;
}

.btn-secondary:hover {
	cursor: pointer;
	background-color: #dea016;
}

#config-form div {
	margin: 5px 0;
}

@font-face {
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.ttf)
}